
body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

textarea:focus {
    outline: none;
}

textarea {
    border: none;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#logo {
    text-align: center;
    align-items: center;
    font-size: 50pt;
    font-family: 'Raleway', sans-serif;
    color: #606a9b;
    flex-basis: 33.3%;
}


#Start-Create-Button {
    flex-basis: 33.3%;
    display: flex;
    justify-content: center;
}

#Start-Create-Button > button {
    background-color: #606a9b;
    border-radius: 5px;
    border: 1.5px solid gray;
    color: white;
    
    padding: 1vh 4vh 1vh 4vh;
    font-family: helvetica;
    font-size: 10pt;
}

#Logout-Button {
    flex-basis: 33.3%;
    display: flex;
    justify-content: center;
}


#Logout-Button > button {
    font-family: helvetica;
    font-size: 10pt;
    background-color: #606a9b;
    border-radius: 5px;
    padding: 1vh 4vh 1vh 4vh;
    border: 1.5px solid gray;
    color: white;
}



#footer {
    position: fixed;
    bottom: 0;
    width: 100%;    
    font-family: helvetica;
    color: white;
    height: 5%;
    border-top: 1.5px solid gray;
    background-color: #606a9b;
    
    display: flex;
    justify-content: center; 
    align-items: center;
}

#ReviewList {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.entry {
    font-family: helvetica;
    font-size: 10pt;
    flex: 0 1 100%;
    display: flex;
    padding: 3%;
    background-color: #f0f6ff;
    margin: 0 0 0.7% 0;
}

.side1 {
    width: 7%;
    border-right: 2px solid #606a9b;
    padding: 3%;
}

.side2 {
    padding: 3%;
    margin: 0 0 0 0.7%;
}

.spacer {
    padding: 5%;
}