@import 'Header.css';
@import 'Footer.css';

#ReviewList {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
}

.entry {
    font-family: 'Calibri', sans-serif;
    font-size: 10pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    position: relative;
    flex: 0 1 40%;
    display: flex;
    text-align: center;
    height: 40%;
    margin: 0 1%;
}

.entry > div {
    flex-basis: 50%;
    height: 100%;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side1 {
    width: 7%;
    border-right: 1px solid #767676;
}

.side2 {
    background: linear-gradient(to right, black -10%, #EFEFEF 5%);
}

.entry > button {
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 5px;
}

.entry > button > img {
    width: 20px;
    height: 20px;
}

#ReviewList .spacer{
    flex: 0 1 42%;
}