@import 'Header.css';
@import 'Footer.css';

#Card-View-Pane{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 100%;
    margin: 0 0 3% 0;
}

#spacer{
    width: 30px;   
}

div.textCard {
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    padding: 0 1%;
    width: 300px;
    height: 220px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Calibri', sans-serif;
}

div.textCard > textarea {
    height:auto;
    max-height: 34vh;
    overflow: auto;
    height: auto;
    width: 100%;
    text-align: center;
    font-family: 'Calibri', sans-serif;
}

#Save-Button-Container{
    margin: 0 0 0 74%;
}

#Save-Button-Container > button{
    font-family: helvetica;
    font-size: 10pt;
    border-radius: 7px;
    background: #71c7aa;
    padding: 5px 25px;
    border: 1.5px solid #88cbb5;
    height: 30px;
    color: white;
}


