html, body, #root, #body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#body {
    display: flex;
}

#TitlePanel {
    background-image: linear-gradient(to bottom right, #606B9B, #B191D4);
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}

#TitlePanel > h1{
    font-size: 60pt;
    font-family: 'Raleway', sans-serif;
    width: 80%;
    margin-bottom: 0;
    color: white;
}

#TitlePanel > h2{
    font-size: 30pt;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    width: 80%;
    color: #88cbb5;
}

#LoginPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, gray -6%, white 8%);
    flex: 1;
    height: 100%;
}

#LoginPanel > a{
    font-size: 30pt;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    
    text-align: center;
    background-color: #88cbb5;
    width: 50%;
}